{
"system" : "Here is a 9 by 9 grid representing the two crossing roads (Road 1 and Road 2). Road 1 (West to East) goes from (1,5) to (9,5). Road 2 (North to South) goes from (5,1) to (5,9). The roads intersect at (5,5). A green car starts at (1,5) on Road 1, wanting to reach (9,5). A red car starts at (5,1) on Road 2, wanting to reach (5,9).  A white car starts at (5,2), wanting to reach (5,9). Each car starts with a reward 0. Each car wants to maximize their cumulative reward by the end of the game.\r\n\r\nAt each time step, each car chooses a move: \r\n- Go(move forward 1 grid): reward -2.\r\n- Stop(not moving): reward -2.\r\n\r\nCars must choose Go at the intersection.\r\nA white car always chooses Go.\r\nIf a crash occurs (i.e. multiple cars occupy the intersection simultaneously): reward -5 and the game ends. \r\nIf both green and red cars reach the goal, the game ends."
,
"otherCar" : "A {otherColor} car is currently at {otherPosition}."
,
"myCar" : "You are the {myColor} car, you are currently at {myPosition}. Currently your reward is {myReward}. What is your choice of move? What is your position after the move? Reply in the format of only (Move,PosX,PosY)"
}
